/Java/Leccion1/0_HolaMundo/nbproject/private/
/Java/Leccion1/8_Operadores2/nbproject/private/
/Java/Leccion1/9_PracticasJava/nbproject/private/
/Java/Leccion1/0_HolaMundo/build/
/Java/Leccion1/Ejercicio2/nbproject/private/
/Java/Leccion1/Ejercicio_1/nbproject/private/
/Java/Leccion1/Excercise_1/nbproject/private/
/Java/Leccion1/Excercise_2/nbproject/private/
/Java/Leccion1/Excercise_1/build/
/Java/Leccion1/Java_operators1/nbproject/private/
/Java/Leccion1/7_JavaOperators1/nbproject/private/
/Java/Leccion1/7_JavaOperators1/build/
/Java/Leccion1/Excercise_01/nbproject/private/
/Java/Leccion1/Excercise_02/nbproject/private/
/Java/Leccion1/Excercise_01/build/
/Java/Leccion1/Excercise_02/build/
/Java/Leccion1/8_JavaOperators2/nbproject/private/
/Java/Leccion1/8_JavaOperators2/build/
/Java/Leccion1/9_JavaPractice/nbproject/private/
/Java/Leccion1/1_JavaBasics/nbproject/private/
/Java/Leccion1/0_HellowWorld/nbproject/private/
/Java/Leccion1/Excercise_03/nbproject/private/
/Java/Leccion1/Excercise_03/build/
/Java/Leccion1/Excercise_4/nbproject/private/
/Java/Leccion1/Excercise_4/build/
